<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/members-only">Home</a></li>
            <li><a href="/write-message">Write a Message</a></li>
            <li><a href="/become-member">Become a Member</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
    <% messages.forEach(message => {%>
        <div>
            <p><%= message.title %></p>
            <p>Name: <%= message.first_name %></p>
            <p>UserName: <%= message.username %></p>
            <p><%= message.text %></p>
            <p><%= message.timestamp %></p>
        </div>
    <% }); %>
   <a href="/log-out">Log-Out</a>
</body>
</html>